* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}

body {
  background: linear-gradient(45deg, #f8f530 0%, rgb(239, 241, 225) 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

main {
  display: flex;
  padding: 48px 64px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
background: #FFF;
box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);
}

.screen1 {
  width: 300px;
  height: 312px;
  flex-shrink: 0;
}

.screen1 h1 {
  color: #34355b;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
}


.screen1{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}
.screen1 p {
  color: #34355b;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-top: 14px;
}
.screen1 img{
    margin-top: 26px;
    width: 248.842px;
height: 191.79px;
}
.hide {
  display: none;
}
